<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet"  href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>
	
	<div class="center">
		<h1>Login</h1>
		<form action="{{ url_for('login') }}" method="post">
			<div class="txt_field">
				<input type="text" name="username" id="username" required>
				<span></span>
				<label>Username</label>
			</div>
			<div class="txt_field">
				<input type="password" name="password" id="password" required>
				<span></span>
				<label>Password</label>
			</div>
			<div class="pass">Forgot Password?</div>
			
			<input type="submit" value="Login">
			<div class="signup_link">
				Not a member? <a href="{{ url_for('register') }}">Sign up</a>
			</div>
			

		</form>
	</div>

</body>
</html>